.contact__body {
    padding: 80px 0px 190px 0px;
}

.contact__header {
    padding-bottom: 60px;
}

.contact__header h2 {
    font-size: 50px;
    color: #000;
    line-height: 1.12;
}

.contact__header :not(:last-child) {
    margin-bottom: 42px !important;
}

.contact__header p {
    font-size: 18px;
    color: #333333;
    line-height: 1.333;
}

.contact a {
    font-size: 20px;
    color: #9b1818;
}

.contact a:hover {
    text-decoration: underline;
}

.contact .breadcrumb-item+.breadcrumb-item::before {
    font-size: 20px;
    color: #9b1818;
}

.contact__phone {
    color: #9b1818;
}

.contact__button {
    padding-top: 40px;
}

.btn-contact {
    min-width: 220px;
    min-height: 47px;
}

@media (max-width: 992px) {
    .contact__body {
        padding: 80px 0px 80px 0px;
    }
}

@media (max-width: 576px) {
    .contact__body {
        padding: 30px 0px 30px 0px;
    }

    .contact__header {
        padding-bottom: 30px;
    }

    .contact__header h2 {
        font-size: 42px;
    }

    .contact__header :not(:last-child) {
        margin-bottom: 30px !important;
    }
}