.main-blok {}

.header-blok {
    padding: 167px 0px 20px 0px;
}

.header-blok__title {
    font-size: 50px !important;
    line-height: 0.918;
}

.main-blok__content {
    padding: 20px 0px 40px 0px;
}


/* --------card--------------- */


.card {
    background-color: #bfb9b8;
    opacity: 0.8;
}

.nav-link {
    padding: 15px 25px;
    background-color: #d1d7d8;
    opacity: 0.8;
}

.nav-link:hover {
    text-decoration: underline;
}

.dropdown-menu {
    background-color: #be9a6b !important;
}

.card-body {
    background-color: #d1d7d8;
    opacity: 0.95;
}

.card-icon img {
    width: 32px;
    object-fit: contain;
}

.text,
.title {
    padding-top: 15px;
}

.education {
    padding: 24px 0px 20px 0px;
}

.card-body a {
    min-width: 220px;
    min-height: 47px;
    padding: 10px 30px;
}

.main-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: top;
    object-fit: cover;
    z-index: -10;
}

@media (max-width: 992px) {
    .header-blok {
        padding: 140px 0px 20px 0px;
    }

    .nav-item {
        flex: 1 1 100%;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border-radius: 5px !important;
    }

    .discounts {
        flex: 1 1 100%;
        border-radius: 5px;
        background-color: #fff;
        opacity: 0.8;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .header-blok {
        padding: 200px 0px 20px 0px;
    }

    .header-blok__title {
        font-size: 40px !important;
    }

    .card-icon {
        padding-bottom: 10px !important;
    }
}